.c-toast {
  --clr-black: hsl(0, 0%, 0%);
  --clr-item-bg: hsl(0, 0%, 17%);
  --clr-error: hsl(4, 90%, 58%);
  --clr-info: hsl(210, 54%, 46%);
  --clr-success: hsl(149, 39%, 50%);
  --clr-warning: hsl(41, 57%, 54%);
  --clr-white: hsl(0, 0%, 100%);
  --hpos: center;
  --vpos: flex-start;
  --item-spacing: 10px;
  --item-vpadding: 10px;
  --item-hpadding: 20px;

  justify-content: var(--vpos);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  list-style: none;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 2001;
  width: calc(100% - 20px);

  &--hpos-left {
    --hpos: flex-start;
  }

  &--hpos-center {
    --hpos: center;
  }

  &--hpos-right {
    --hpos: flex-end;
  }

  &--vpos-top {
    --vpos: flex-start;
  }

  &--vpos-top &__item {
    margin-top: var(--item-spacing);
  }

  &--vpos-center {
    --vpos: center;
  }

  &--vpos-center &__item {
    --margin: calc(var(--item-spacing) / 2);

    margin-bottom: var(--margin);
    margin-top: var(--margin);
  }

  &--vpos-bottom {
    --vpos: flex-end;
  }

  &--vpos-bottom &__item {
    margin-bottom: var(--item-spacing);
  }

  &__item {
    align-self: var(--hpos);
    background-color: var(--clr-item-bg);
    border-left: 10px solid var(--severity, --clr-blue);
    box-shadow: 0 0 5px var(--clr-black);
    color: var(--clr-white);
    display: flex;
    line-height: inherit;
    padding: var(--item-vpadding) var(--item-hpadding);
    pointer-events: initial;
    position: relative;

    &--error {
      --severity: var(--clr-error);
    }

    &--info {
      --severity: var(--clr-info);
    }

    &--success {
      --severity: var(--clr-success);
    }

    &--warning {
      --severity: var(--clr-warning);
    }
  }

  &__dismiss {
    background-color: transparent;
    border: none;
    color: var(--clr-white);
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: inherit;
    margin-left: var(--item-hpadding);
    padding: 0;

    &:hover {
      color: var(--severity);
    }
  }
}
